
:root {
  --color-white: white;
  --color-darkblue: darkblue;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(248, 240, 240, 0.856);
    margin: 0;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(color darkblue);
    background-image: linear-gradient(115deg, rgba(0, 0, 255, 0.384), rgb(148, 148, 206)), url(//armormotors.ge/cdn/shop/files/ArmorMotors_-_logo.png?v=1748943079&width=3840);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-weight: 400;
    line-height: 1.2;
}

p{
    font-size: 1.1rem;
    text-align: center;
    
}

h1, p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
}

button{
    border: none;
}

.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

.header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0, 0.4);
}
.text-center{
    text-align: center;
}
.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: rgba(202, 195, 195, 0.89);
}

/* form */

form{
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}
@media (min-width: 480px){
    form{
        padding: 2.5rem;
    }
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control{
    display: block;
    width: 100%;
    height: 2.35rem;
    padding: 20px 15px ;
    color: rgb(6, 88, 88);
    background-color: rgba(255, 255, 255, 0.774);
    background-clip: padding-box;
    border: 1px solid rgb(17, 9, 83);
    border-radius: 0.34rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center left;
}

.form-control:focus{
    border-color: rgba(0, 0, 255, 0.226);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio, .input-checkbox{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea{
    min-height: 100px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

.submit-button{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}